.header {
  box-sizing: border-box;
  height: 2.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
  text-align: center;
  padding-top: 0.25rem;
}